[submodule "third_party/nlohmann-json"]
	path = third_party/nlohmann-json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "third_party/boost-regex"]
	path = third_party/boost-regex
	url = https://github.com/boostorg/regex.git
	shallow = true
[submodule "third_party/qrcodegen/upstream"]
	path = third_party/qrcodegen/upstream
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "third_party/qtimageformats"]
	path = third_party/qtimageformats
	url = https://github.com/qt/qtimageformats.git
	shallow = true
[submodule "third_party/libdave"]
	path = third_party/libdave
	url = https://github.com/discord/libdave.git
[submodule "third_party/mlspp"]
	path = third_party/mlspp
	url = https://github.com/cisco/mlspp.git
[submodule "third_party/rnnoise/upstream"]
	path = third_party/rnnoise/upstream
	url = https://github.com/xiph/rnnoise.git
